@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
    --red: #e50914;
    --black: #141414;
    --white: #fff;
    --white-hover: #aaa;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--black);
    font-family: "Helvetica Neue", sans-serif, Helvetica;
    color: var(--white);
}

header .container {
    position: fixed;
    width: 100%;
    display: flex;
    /* flex-direction: row; Padrão */
    align-items: center; /*Alinha texto no centro do box*/
    justify-content: space-between; /*Da um espaço padrão entre os elementos*/
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.7) 10%,
        rgba(0, 0, 0, 0)
    );
}

header .logo {
    color: var(--red);
    font-family: "Bebas Neue", cursive;
    font-size: 35px;
    margin: 16px 50px;
}

header nav.nav-left {
    font-weight: 600;
    font-size: 14px;
    margin-right: auto;
}

header nav.nav-right {
    font-weight: 600;
    font-size: 20px;
    margin-right: 40px;
}

header nav.nav-right a {
    margin: 0 10px;
    justify-content: center;
}

header nav.nav-right a spam {
    font-weight: 600;
    font-size: 14px;
}

.fa-sort-down {
    transition: all 0.4s ease;
    transform: rotateZ(0);
}

.fa-sort-down:hover {
    transition: all 0.4s ease;
    transform: rotateZ(-180deg);
}

header nav a {
    text-decoration: none;
    color: var(--white);
    margin-right: 10px;
}

header nav a:hover {
    color: var(--white-hover);
    transition: 0.5s ease all;
}

.main-film {
    background-image: url(../img/capa-house.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 95vh;
}

main div.main-film div.container {
    margin-left: 40px;
}

main div.main-film div.buttons {
    margin-left: 40px;
}

.main-film .description {
    margin-bottom: 20px;
}

.title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
}

.description {
    flex-wrap: wrap;
    width: 35%;
    font-size: 20px;
}

.watch-btn {
    background-color: var(--white);
    border: none;
    color: var(--black);
    padding: 15px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    font-size: 19px;
    justify-content: center;
}

.watch-btn:hover {
    background-color: rgba(255, 255, 255, 0.5);
    transition: 0.3s ease all;
}

.info-btn {
    background-color: rgba(109, 109, 110, 0.7);
    border: none;
    color: var(--white);
    padding: 15px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    font-size: 19px;
}

.info-btn:hover {
    background-color: rgba(109, 109, 110, 0.4);
    transition: 0.3s ease all;
}

.opaque-black {
    background-color: var(--black);
    transition: 0.8s ease all;
}

h4.suggest-title {
    padding-left: 3%;
    padding-top: 5px;
    position: absolute;
    width: 100%;
    font-size: 27px;
    font-weight: 600;
    z-index: 3;
}

.suggested-films {
    display: grid;
    grid-template-columns: repeat(3, 100%);
    overflow: hidden;
    scroll-behavior: smooth;
}

.suggested-films section {
    padding-top: 20px;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, auto);
    margin: 20px 0;
}

.suggested-films section .film-box {
    position: relative;
    padding: 0 2px;
    transition: 250ms all;
}

.suggested-films section .film-box:hover {
    margin: 0 40px;
    transform: scale(1.2);
}

.suggested-films section .arrow__btn {
    position: absolute;
    color: #fff;
    text-decoration: none;
    font-size: 6em;
    background: #000;
    width: 80px;
    padding: 20px;
    text-align: center;
    z-index: 1;
}

.suggested-films section .left-arrow {
    top: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

.suggested-films section .right-arrow {
    top: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}
